<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Резюме</title>
  <link rel="stylesheet" href="settings.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#about">Обо мне</a></li>
        <li><a href="#experience">Опыт работы</a></li>
        <li><a href="#skills">Навыки</a></li>
        <li><a href="#education">Образование</a></li>
        <li><a href="#contact">Контакты</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="about">
      <h1>Обо мне</h1>
      <p>Здравствуйте, меня зовут Александр. Мне 30 лет. Мой трудовой стаж уже более 10 лет. Имею большой
          опыт работ в разных направлениях. Имеются лидерские качества, всегда стараюсь быть лидером а не начальником.
          Легко обучаем, стремлюсь к
          развитию. Имеется ВУ кат. B,C</p>
      <img src="img/1.jpg" alt="Фотография профиля">
    </section>
    <section id="experience">
      <h1>Опыт работы</h1>
      <ul>
        <li>
          <h2>Должность</h2>
          <p>МУП ГорЭлектроТранс</p>
          <span>2014-2015</span>
        </li>
        <li>
          <h2>Должность</h2>
          <p>Помощник машиниста тепловоза</p>
          <span>2015-2020</span>
        </li>
        <li>
          <h2>Должность</h2>
          <p>Экономист ТЧЭ-5</p>
          <span>2020-2021</span>
        </li>
        <li>
          <h2>Должность</h2>
          <p>Торговый представитель</p>
          <span>2021-2024</span>
        </li>
        <li>
          <h2>Должность</h2>
          <p>Ведущий программист</p>
          <span>2024-Н.В</span>
        </li>
      </ul>
    </section>
    <section id="skills">
      <h1>Навыки</h1>
      <div class="skillbar">
        <div class="skill" style="width: 40%;">HTML/CSS</div>
        <div class="skill" style="width: 40%;">JavaScript</div>
        <div class="skill" style="width: 40%;">React</div>
        <div class="skill" style="width: 40%;">Python</div>
        <div class="skill" style="width: 40%;">SQL</div>
      </div>
    </section>
    <section id="education">
      <h1>Образование</h1>
      <ul>
        <li>
          <h2>Диплом о получении средне-специального образования</h2>
          <p>Помощник машиста локомотива.</p>
          <span>2010-2013</span>
        </li>
      </ul>
      <ul>
        <li>
          <h2>Диплом о получении высшего образования</h2>
          <p>Землеустройство и кадастры. Управление недвижимостью.</p>
          <span>2014-2018</span>
        </li>
      </ul>
    </section>
    <section id="contact">
      <h1>Контакты</h1>
      <p>89041554750.</p>
      <a href="k030kp@bk.ru">k030kp@bk.ru</a>
    </section>
  </main>
  <footer>
    <p>&copy; © 2023 Александр Титов</p>
  </footer>
  <script src="text/javascript"></script>
</body>
</html>